/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 502px;
    max-width: 1980px;
    background-color: #F4F4F4;

    color: #003366;

}

header {
    background-color: #0073E6;

    color: white;
    padding: 20px;
    text-align: center;
}



@media (max-width: 500px) {
    body {
        min-width: 100%;

        overflow-x: hidden;

    }

    .container {
        padding: 10px;

    }
}







nav {
    display: flex;
    justify-content: center;
    background-color: #005BB5;

    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 8%;
    margin-left: 8%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0073E6;

}

button {
    background-color: #0073E6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005BB5;
}

.hidden {
    display: none;
}


#languageToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;

}




iframe {
    border: none;
}



.iframeContainer {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;

}

.iframeContainer .gameFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}



#gamesDisplay {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
}



html {
    scroll-behavior: smooth;
}


.hidden2 {
    opacity: 0;
    transform: translateY(20px);
    transform: translateX(200px);
    transition: opacity 1.2s ease, transform 1.2s ease;
    /* cubic-bezier(0.68, -0.55, 0.27, 1.55) */

}

.visible2 {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
}








/* BUTON GAMES STYLE */

#gamesTable {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.gameButton {
    flex: 1 1 calc(25% - 10px);
    background-color: #0073e6;
    color: white;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .gameButton {
        flex: 1 1 calc(50% - 10px);
    }
}

.flex-fullButton {
    /* flex: 1;  */
    width: 100%;
    height: 150%;
}


.loader {
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5em;
}





.gameDescription {

    width: 100%;
    z-index: 2;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
}


nav a:hover {
    color: #FF6F61;
    transition: color 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

h3 {
    margin-top: 40px;
}

.videogamesTitle {
    margin-top: 55px;
}